@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: aliceblue;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(18, 18, 18);
}
